alembic==1.13.2
boto3==1.34.147
botocore==1.34.147
fastapi==0.111.1
fastapi-cli==0.0.4
keras==2.15.0
ml-dtypes==0.2.0
numpy==1.26.4
opencv-python-headless==4.10.0.84
requests==2.32.3
tensorflow==2.15.0
uvicorn==0.30.3
SQLAlchemy==2.0.31
PyMySQL==1.1.1
ffmpeg-python>=0.4.8
